@import "tailwindcss";

:root {
  --foreground: #164283;
  --primary: #164283;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}
